@use '../helpers' as *;

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(100);

  @include desktop-below {
    padding-inline: var(--padding-inline-big);
  }

  @include mobile {
    width: 100%;
    padding-inline: var(--padding-inline-mobile);
    row-gap: rem(40);
  }

  &__header {
    display: grid;
    justify-items: center;
    row-gap: rem(30);

    @include mobile {
      row-gap: rem(20);
    }
  }

  &__title {
    font-size: rem(59);
    line-height: 1.24;
    letter-spacing: 0;
    text-align: center;

    @include mobile {
      font-size: fluid(59, 34);
      line-height: 1.12;
      letter-spacing: 0.04rem;
    }
  }

  &__subtitle {
    max-width: 52%;
    font-size: rem(20);
    line-height: 1.42;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-gray-300);

    @include mobile {
      max-width: 100%;
      font-size: fluid(20, 16);
    }
  }
}