@use '../helpers' as *;

.application {
  display: flex;
  flex-direction: column;
  row-gap: rem(100);

  @include desktop-below {
    padding-inline: rem(53);
  }

  @include mobile {
    width: 100%;
    padding-inline: rem(21);
    row-gap: rem(40);
  }

  &__header {
    display: grid;
    justify-items: center;
    row-gap: rem(30);

    @include mobile {
      row-gap: rem(20);
    }
  }

  &__title {
    font-size: rem(59);
    line-height: 1.24;
    letter-spacing: 0;
    text-align: center;

    @include mobile {
      font-size: rem(34);
      line-height: 1.12;
      letter-spacing: 0.04rem;
    }
  }

  &__subtitle {
    max-width: 35%;
    font-size: rem(20);
    line-height: 1.42;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-gray-300);

    @include desktop-below {
      max-width: 44%;
    }

    @include mobile {
      max-width: 100%;
      font-size: rem(16);
    }
  }
}