@use '../helpers' as *;

$icons: (
        1: "/footer/telegram.svg",
        2: "/footer/fb.svg",
        3: "/footer/vk.svg",
);

.footer {
  padding: rem(30) var(--padding-inline-big);
  font-size: rem(20);
  line-height: 1.42;
  letter-spacing: 0;
  background-color: var(--color-beige-200);

  @include mobile {
    padding: 0;
    font-size: rem(16);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      margin-inline: 0;
    }

    @include mobile {
      padding: var(--padding-inline-mobile) rem(21.5);
      flex-direction: column;
      row-gap: rem(5);
    }
  }

  &__hint {
    color: var(--color-gray-300);
  }

  &__nav {
    &-list {
      display: flex;
      color: var(--color-black);
      column-gap: rem(25);

      @include mobile {
        column-gap: rem(15);
      }
    }

    &-item {
      @each $num, $icon in $icons {
        &:nth-child(#{$num}) {
          .footer__nav-link::before {
            background-image: url("#{$icon}");
          }
        }
      }
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      column-gap: rem(11);

      @include hover(false) {
        .footer__nav-link-text::after {
          width: 100%;
        }
      }

      @include mobile {
        column-gap: rem(5);
      }

      &::before {
        content: '';
        position: relative;
        @include square(rem(26));
        display: inline-flex;
        background-position: center;
        background-repeat: no-repeat;

        @include mobile {
          width: rem(22);
          height: rem(26);
        }
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
      }

      &-text {
        position: relative;
        z-index: 200;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: rem(1);
          background-color: currentColor;
          transition: width var(--transition-duration) ease;
        }
      }
    }
  }
}