@use '../helpers' as *;

.form {
  padding: rem(70);
  width: clamp(rem(918), 80vw, rem(1170));
  display: flex;
  flex-direction: column;
  font-size: rem(20);
  line-height: 1.42;
  background-color: var(--color-white);
  border-radius: rem(50);
  row-gap: rem(33.5);

  @include desktop-below {
    padding: rem(60);
    row-gap: rem(33);
  }

  @include tablet {
    width: clamp(100%, 85vw, rem(918));
  }

  @include mobile {
    padding: rem(20) rem(20) rem(40);
    font-size: rem(16);
    border-radius: rem(30);
    row-gap: rem(30);
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: rem(30);
    row-gap: rem(32);

    @include desktop-below {
      column-gap: rem(20);
    }

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, auto);
      row-gap: rem(30);
    }

    @include mobile {
      row-gap: rem(31);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);

    &:last-child {
      grid-column: -1 / 1;
    }
  }

  &__input {
    padding: rem(20);
    background-color: var(--color-beige-100);
    border: var(--form-item-border);
    border-radius: rem(10);

    &:not(.textarea) {
      width: 100%;
      height: rem(68);

      @include desktop-below {
        width: rem(389);
      }

      @include tablet {
        width: 100%;
      }

      @include mobile {
        height: rem(43);
        padding: rem(10);
      }
    }
  }

  &__select-wrapper {
    position: relative;

    &::after {
      position: absolute;
      top: 32%;
      left: 91%;
      content: '';
      @include square(rem(26));
      background-image: url("/public/icons/icon-dropdown.svg");
      background-position: center;
      background-repeat: no-repeat;

      @include desktop-below {
        top: 31%;
        left: 88%;
      }

      @include tablet {
        top: 35%;
        left: 90%;
      }

      @include mobile {
        top: 25%;
        left: 87%;
      }
    }
  }

  &__age-check {
    display: grid;
    row-gap: rem(8);
  }

  &__radio-buttons {
    display: flex;
    column-gap: rem(31);
  }

  &__agreement {
    display: flex;
    align-items: center;
    font-size: rem(17);
    line-height: 1.42;
    letter-spacing: -0.01rem;
    column-gap: rem(19);

    &-label {
      color: var(--color-gray-300);
    }

    &-link {
      color: var(--color-black);
    }
  }

  &__buttons {
    display: flex;
    column-gap: rem(30);

    @include mobile {
      justify-content: space-between;
      column-gap: 0;
    }
  }
}