@use "../helpers" as *;

@keyframes slideDownHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpHeader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding-block: rem(28.29);
  color: var(--color-white);
  transition:
          color var(--transition-duration) ease,
          background-color var(--transition-duration) ease,
          backdrop-filter var(--transition-duration) easeб
          transform var(--transition-duration) ease;
  transform: translateY(0);

  @include laptop {
    padding-inline: rem(57);
  }

  @include mobile {
    padding: rem(33) rem(20);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    &-link {
      position: relative;

      @include tablet {
        font-size: rem(16);
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: rem(-4);
        width: 0;
        height: rem(2);
        background-color: currentColor;
        transform: translateX(-50%);
        transition: width var(--transition-duration) ease;
      }

      @include hover {
        &::after {
          width: 97%;
        }
      }
    }

    &-list {
      display: flex;
      column-gap: rem(50);

      @include laptop {
        column-gap: rem(30);
      }

      @include tablet {
        display: none;
      }
    }
  }

  &__nav,
  &__phone {
    &-link {
      font-size: rem(20);
    }
  }

  &__phone-link {
    @include mobile {
      font-size: rem(16);
    }
  }

  &.is-active,
  &.is-hiding {
    position: fixed;
    color: var(--color-black);
    background-color: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(rem(54));
  }

  &.is-active {
    transform: translateY(-100%);
    animation: slideDownHeader calc(var(--transition-duration) * 3) ease forwards;
  }

  &.is-hiding {
    transform: translateY(0);
    animation: slideUpHeader calc(var(--transition-duration) * 3) ease forwards;
  }
}