@use '../helpers' as *;

$photos: (
  1: "./photos/photo-1.png",
  2: "./photos/photo-2.png",
  3: "./photos/photo-3.png",
  4: "./photos/photo-4.png",
  5: "./photos/photo-5.png",
  6: "./photos/photo-6.png",
  7: "./photos/photo-7.jpg",
  8: "./photos/photo-8.png",
  9: "./photos/photo-9.png",
  10: "./photos/photo-10.png",
  11: "./photos/photo-11.png",
  12: "./photos/photo-12.png",
  13: "./photos/photo-13.png"
);

.photos {
  padding-inline: var(--padding-inline-big);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(100);

  @include desktop-below {
    padding-inline: var(--padding-inline-mobile);
  }

  @include mobile {
    row-gap: rem(50);
  }

  &__header {
    max-width: rem(723);
    display: grid;
    justify-items: center;
    row-gap: rem(32);

    @include mobile {
      row-gap: rem(20);
    }
  }

  &__title {
    font-size: rem(59);
    line-height: 1.24;
    letter-spacing: 0;
    text-align: center;

    @include mobile {
      font-size: fluid(59, 34);
      line-height: 1.12;
      letter-spacing: 0.04rem;
    }
  }

  &__subtitle {
    max-width: 55%;
    font-size: rem(20);
    line-height: 1.42;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-gray-300);

    @include mobile {
      max-width: 100%;
      font-size: fluid(20, 16);
    }
  }

  &__content,
  &__row {
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: rem(30);

    @include mobile {
      row-gap: rem(18);
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    column-gap: fluid(30, 20);

    @include desktop-below {
      column-gap: rem(20);
    }

    @include mobile {
      &:first-child {
        column-gap: fluid(20, 18);
      }

      &:not(:first-child) {
        gap: fluid(20, 10);
      }
    }

    &:first-child div, {
      width: 25%;

      @include desktop-below {
        width: 35%;
      }

      @include mobile {
        width: 50%;
      }
    }

    &:nth-child(2) div {
      width: 20%;

      @include desktop-below {
        width: 25%;
      }

      @include mobile {
        width: 33%;
      }
    }

    &:last-child div {
      width: 24%;

      @include desktop-below {
        width: 35%;
      }

      @include mobile {
        width: 50%;
      }
    }
  }

  &__item {
    height: rem(301);
    display: inline-block;
    border-radius: rem(50);
    overflow: hidden;

    @each $key, $values in $photos {
      &[data-index="#{$key}"] {
        @if $key == 12 {
          background-image:
                  linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.1) 100%),
                  url("/#{map-get($photos, $key)}");
        } @else {
          background-image: url("/#{map-get($photos, $key)}");
        }
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &[data-index="1"],
    &[data-index="4"] {
      background-size: cover;

      @include mobile {
        background-size: cover;
      }
    }

    &[data-index="9"] {
      background-position-y: 53%;
      background-size: 100% rem(600);

      @include desktop-below {
        background-size: 100% rem(345);
      }

      @include mobile {
        background-size: 100% rem(150);
      }
    }

    &[data-index="13"] {
      background-position-y: 96%;
      background-size: 100% rem(600);
    }

    @include desktop-below {
      $skipped-photos: (2, 7, 13);

      @each $skip in $skipped-photos {
        &[data-index="#{$skip}"] {
          display: none;
        }
      }
    }

    @include mobile {
      height: fluid(301, 110);
      background-size: cover;
      border-radius: fluid(50, 20);

      $skipped-photos: (2, 3, 6, 7, 12, 13);

      @each $skip in $skipped-photos {
        &[data-index="#{$skip}"] {
          display: none;
        }
      }
    }

    transition:
      width var(--transition-duration) ease-in-out,
      height var(--transition-duration) ease-in-out;
  }
}