@use '../helpers' as *;

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(98);

  @include desktop-below {
    padding-inline: var(--padding-inline-big);
  }

  @include tablet {
    padding-inline: var(--padding-inline-mobile);
  }

  @include mobile {
    margin-bottom: rem(10);
    row-gap: rem(49);
  }

  &__header {
    max-width: rem(529);
    display: grid;
    justify-items: center;
    row-gap: rem(28);

    @include mobile {
      row-gap: rem(20);
    }
  }

  &__title {
    font-size: rem(59);
    line-height: 1.24;
    letter-spacing: 0;
    text-align: center;

    @include mobile {
      font-size: fluid(59, 34);
      line-height: 1.12;
      letter-spacing: 0.04rem;
    }
  }

  &__subtitle {
    max-width: 75%;
    font-size: rem(20);
    line-height: 1.42;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-gray-300);

    @include mobile {
      max-width: 100%;
      font-size: fluid(20, 16);
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(24);

    @include desktop-below {
      column-gap: rem(18);
    }

    @include mobile {
      flex-wrap: wrap;
      row-gap: rem(18);
    }
  }
}