@use '../helpers' as *;

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(98);

  @include laptop {
    padding-inline: rem(53);
  }

  @include mobile-s {
    padding: 0;
    row-gap: rem(48);
  }

  &__header {
    max-width: rem(615);
    display: grid;
    justify-items: center;
    row-gap: rem(28);

    @include mobile {
      row-gap: rem(20);
    }
  }

  &__title {
    font-size: rem(59);
    line-height: 1.24;
    letter-spacing: 0;
    text-align: center;

    @include mobile {
      font-size: rem(40);
      line-height: 1.12;
      letter-spacing: 0.04rem;
    }

    @include mobile-s {
      font-size: rem(34);
    }
  }

  &__subtitle {
    max-width: 65%;
    font-size: rem(20);
    line-height: 1.42;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-gray-300);

    @include mobile {
      max-width: 60%;
      font-size: rem(16);
    }

    @include mobile-s {
      max-width: 90%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(51);

    @include mobile {
      row-gap: rem(20);
    }
  }
}