@use '../helpers' as *;

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(100);

  @include desktop-below {
    padding-inline: var(--padding-inline-big);
  }

  @include tablet {
    padding-inline: var(--padding-inline-mobile);
  }

  @include mobile {
    row-gap: rem(48);
  }

  &__header {
    max-width: rem(615);
    display: grid;
    justify-items: center;
    row-gap: rem(28);

    @include mobile {
      row-gap: rem(20);
    }
  }

  &__title {
    font-size: rem(59);
    line-height: 1.24;
    letter-spacing: 0;
    text-align: center;

    @include mobile {
      font-size: fluid(59, 34);
      line-height: 1.12;
      letter-spacing: 0.04rem;
    }
  }

  &__subtitle {
    max-width: 65%;
    font-size: rem(20);
    line-height: 1.42;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-gray-300);

    @include mobile {
      max-width: 100%;
      font-size: fluid(20, 16);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(51);

    @include mobile {
      row-gap: rem(20);
    }
  }
}