@use '../helpers' as *;

$cards: (
        1: "tour-card-1.png",
        2: "tour-card-2.png",
        3: "tour-card-3.png",
        4: "tour-card-4.png",
        5: "tour-card-5.jpg",
        6: "tour-card-6.png"
);

.tour-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-white);
  gap: rem(30);

  @include desktop-below {
    gap: rem(18);
  }

  @include mobile {
    align-items: center;
  }

  &__item {
    position: relative;
    width: min(30vw, rem(370));
    height: rem(531);
    padding: fluid(50, 28);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: rem(50);
    overflow: hidden;

    @include desktop-below {
      width: clamp(rem(318), 50vw, rem(450));
      padding: rem(50);
    }

    @include tablet {
      width: clamp(rem(318), 46vw, rem(450));
      padding: fluid(50, 34);
    }

    @each $num, $img in $cards {
      &:nth-child(#{$num}) {
        .tour-cards__image {
          background-image:
            linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
            url("/tour-cards/#{$img}");
        }
      }
    }

    @include mobile {
      --max-size: #{rem(318)};

      padding: rem(25);
      min-width: 100%;
      height: var(--max-size);
      border-radius: rem(20);
    }

    @include hover(false) {
      cursor: var(--cursor);

      .tour-cards__details::after {
        background-color: var(--color-green-400);
      }

      .tour-cards__image {
        transform: scale(1.2);
      }
    }

    &:active {
      @include mobile-above {
        .tour-cards__details::after {
          background-color: var(--color-orange-200);
        }
      }
    }
  }

  &__image {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform var(--transition-duration) ease;
  }

  &__header {
    max-width: 90%;
    display: grid;
    row-gap: rem(16);

    @include desktop-below {
      max-width: 100%;
    }
  }

  &__title {
    font-size: rem(35);
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.01rem;

    @include mobile {
      font-size: fluid(35, 23);
      line-height: 1.2;
      letter-spacing: 0.065rem;
    }
  }

  &__subtitle {
    font-size: rem(17);
    line-height: 1.42;
    letter-spacing: -0.01rem;

    @include mobile {
      font-size: fluid(17, 16);
      line-height: 1.1;
    }
  }

  &__details {
    position: relative;
    z-index: 0;
    font-size: rem(23);
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0;

    @include mobile {
      font-size: fluid(23, 16);
      line-height: 1.1;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -50;
      top: rem(-7);
      left: rem(-21);
      width: rem(199);
      height: rem(42);
      background-color: transparent;
      border-radius: rem(50);
      transition: background-color var(--transition-duration) ease;
    }
  }
}